<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <h1>Sup</h1>
    <form action="/daily" method="POST">
        <input type="text" name="task" placeholder="New Task">
        <input type="submit" value="OK">
    </form>
    <ul>
        <% if(locals.tasks) {%>
            <%for(let i = 0; i < tasks.length; i++){%>
                <input type="checkbox" id="<%= i %>" name="task<%= i %>" value="blah" class="checks">
                <label for="task<%= i %>"><span id="span<%= i %>"><%= tasks[i] %></span> </label><br>
            <%}%>
        <%}%>
    </ul>
    <script src="/js/front.js"></script>
</body>
</html>