
<%- include("partials/header.ejs") %>
    <h1>work stuff</h1>

    <form action="/dailyTasks" method="POST">
        <input type="text" name="task" placeholder="New Task" required>
        <input type="submit" value="OK">
    </form>
    
    <% if(locals.tasks) {%>
        <%tasks.forEach((task) => {%>
            <%- task.formStart %>
            <%- task.type %>
            <%- task.label %>
            <%- task.End %>
        <%})%>
    <%}%>

    <%- include("partials/footer.ejs") %>